.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.grocery-container{
  background-color:rgb(206, 243, 242);
  color: rgb(43, 33, 33);
  padding:10px;
}
.section-center{
  background-color:rgb(70, 99, 97);
  padding-bottom: 15px;
  color:antiquewhite;
  
}
.grocery{
  background-color:rgb(228, 246, 247);
  border-radius:10%;
  color:beige;
 margin-bottom:15px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
